<li class="post">
  <div class="post-icon"><%= message.user.charAt(0) %></div>
  <div class="post-content">
    <div class="post-header">
      <div class="post-name"><strong> <%= message.user %></strong></div>
      <div class="post-date">
        <% const date = message.date.toLocaleDateString([], { year: "2-digit",
        month: "numeric", day: "numeric", }); const time =
        message.date.toLocaleTimeString([], { hour: "numeric", minute: "2-digit"
        }) %> <%= time %> • <%= date %>
      </div>
    </div>
    <div class="post-message"><%= message.text %></div>
  </div>
</li>
