<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Message Board</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="/js/message.js" type="text/javascript" defer></script>
  </head>
  <body>
    <main>
      <%- include('partials/header', { title : 'Home', messages }) %>
      <section>
        <%- include('partials/break', {text: 'Messages'}) %>
        <ul>
          <% messages.forEach(message => { %> <%- include('partials/post', {
          message }) %> <% }) %>
        </ul>

        <%- include('partials/break', {text: 'Today'}) %>
      </section>
    </main>
    <%- include('partials/button') %> <%- include('partials/message') %>
  </body>
</html>
